<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">  
        <meta charset = "UTF-8">
    </head>
    <body>
        <header>
            <nav>
                <div class="headerMain">
                    <ul>
                        <li>dd</li>
                        <li>dd</li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block body %}
        

        
        {% endblock %}
    </body>
</html>
